@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-5">Show Users</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="@ViewBag.Alert p-3 rounded-3 text-center mx-auto" style="width: 50rem;">@ViewBag.Message</div>
}

<form method="GET">
    <div class="input-group mb-3 mx-auto" style="width: 50rem;">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </div>
</form>

<br />
@foreach (ThreadsApp.Models.ApplicationUser user in ViewBag.Users)
{
    <a href="/Users/ShowProfile/@user.Id" class="link-dark text-decoration-none">
        <div class="card mx-auto" style="width: 50rem;">
            <div class="card-body">

                <img src="@user.ProfilePicture" alt="Profile Picture" width="50" class="rounded mb-2 mr-2 img-thumbnail" />
                <div class="d-inline">
                    <h5 class="mt-0 mb-0">@user.UserName</h5>
                    <small>@user.AccountPrivacy</small>
                </div>
                @if (ViewBag.IsAdmin)
                {
                    @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = @user.Id }))
                    {
                        <button type="submit" class="btn"><i class="bi bi-trash"></i> Delete user</button>
                    }
                }
            </div>
        </div>
    </a>

    <br />
}


<div>

    <nav aria-label="Page navigation example">

        <ul class="pagination pagination-color justify-content-center">

            <li class="page-item">

                <a class="page-link" href="/Users/Index?page=1" aria-label="Previous">

                    <span aria-hidden="true">&laquo;</span>

                </a>

            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="/Users/Index?page=@i">@(i)</a> </li>
            }

            <li class="page-item">

                <a class="page-link" href="/Users/Index?page=@(ViewBag.lastPage)" aria-label="Next">

                    <span aria-hidden="true">&raquo;</span>

                </a>

            </li>

        </ul>

    </nav>

</div>