@{
    ViewBag.TitlePrimary = "All groups";
    ViewBag.TitleSecondary = "Your groups";
}

<h2 class="text-center mt-5 mb-5">@ViewBag.TitlePrimary</h2>
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
@foreach (ThreadsApp.Models.Group group in ViewBag.Groups)
{
    <div class="card p-3 flex flex-row justify-content-between align-items-center">

        <div>
            <h3>@group.Title</h3>
            <p class="mb-0">Members: @group.MemberCount</p>
            <p class="mt-0">Created by @group.User.UserName, @group.Date.ToString("MM/dd/yyyy") </p>
        </div>

        <div>
        <a class="btn btn-dark btn-outline-light border border-dark" href="/Groups/Show/@group.Id">Show Group</a>
        </div>

    </div>
    <br />
}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Groups/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Groups/Index?page=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Groups/Index?page=@(ViewBag.lastPage)" aria-
                   label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>