@model ThreadsApp.Models.Group
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<div class="card p-3">
    
    <partial name="ShowGroup" model="@Model" />
   
    @if (Model.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
            <a class="btn btn-dark btn-outline-light border border-dark" href="/Groups/ManageRequests/@Model.Id">Manage requests</a>
            <a class="btn btn-dark btn-outline-light border border-dark" href="/Groups/Edit/@Model.Id">Edit group</a>

            <form method="post" action="/Groups/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Delete group</button>

            </form>

        </div>
    }
    @*If the user is not the owner of the group or the admin => show Join button*@
    @if (Model.UserId != ViewBag.CurrentUser && !ViewBag.IsAdmin)
    {
        <form method="post" action="/Groups/JoinGroup/@Model.Id">
            <button class="btn btn-dark btn-outline-light border border-dark" type="submit">@(ViewBag.requestStatus ?? "Join")</button>
    </form>
    }
    
</div>
@if (ViewBag.SeeContent)
{
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create a new post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Write your post content</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--to do: start replace with shared view-->
                    <div class="container mt-5">
                        <div class="row">
                            <div>
                                @using (Html.BeginForm(actionName: "New", controllerName: "Posts", method: FormMethod.Post))
                                {   <input type="hidden" name="GroupId" value="@Model.Id">

                                    <br />
                                    @Html.Label("Content", "Content")
                                    <br />
                                    @Html.TextArea("Content", null, new { @class = "form-control" })
                                    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                                    <br />


                                    <br />
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    <br />
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-dark" type="submit">Post</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!--to do: end replace with shared view-->
                </div>
            </div>
        </div>
    </div>
    
    <div>
        @foreach (ThreadsApp.Models.Post post in Model.Posts)
        {
            var combinedData = new
            {
                Post = post,
                UserCurent = ViewBag.CurrentUser,
                IsAdmin = ViewBag.IsAdmin,
            };
            <div class="card mx-auto mb-3" style="width: 50rem;">
                @Html.Partial("PostInfo", combinedData)
                @Html.Partial("PostModal", combinedData) 
            </div>
        }

    </div>
}
