@{
    ViewBag.Title = "Index";
}

<br />

@if (ViewBag.Message != null)
{
    <div class="@ViewBag.Alert p-3 rounded-3 text-center mx-auto" style="width: 50rem;">@ViewBag.Message</div>
}

<div class="text-center">
<a class="btn btn-outline-dark mx-auto" asp-area="" asp-controller="Posts" asp-action="New">+ New Post</a>
</div>
<br />
<br />
@foreach (var item in ViewBag.Feed)
{
    
    var combinedData = new
    {
        Post = item,
        UserCurent = ViewBag.UserCurent,
        IsAdmin = ViewBag.IsAdmin
    };

    <div class="card mx-auto" style="width: 50rem;">

        @Html.Partial("PostInfo", combinedData)

        @if (item is Post post)
        {
            @Html.Partial("PostModal", combinedData)
        }

     </div>
        

    <br />
    <br />
}

<div>

    <nav aria-label="Page navigation example">

        <ul class="pagination pagination-color justify-content-center">

            <li class="page-item">

                <a class="page-link" href="/Posts/Index?page=1" aria-label="Previous">

                    <span aria-hidden="true">&laquo;</span>

                </a>

            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="/Posts/Index?page=@i">@(i)</a> </li>
            }

            <li class="page-item">

                <a class="page-link" href="/Posts/Index?page=@(ViewBag.lastPage)" aria-label="Next">

                    <span aria-hidden="true">&raquo;</span>

                </a>

            </li>

        </ul>

    </nav>

</div>

